.item-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.Movie{
    padding: 20px 20px;
    margin: 30px 20px;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
}

.Movie h1{
    font-size:18px;
    font-weight: 600;
}

.video_wrap{
    width: 100%;
    height: 315;
    display: flex;
    justify-content: center;
}

.Info{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    padding: 20px 20px;
    margin: 30px 20px;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
}

.Movie__Column{
    width:50%;
    box-sizing:border-box;
    text-overflow: ellipsis;
    margin : 10px 10px;
}

.Movie__Column:last-child{
    padding:20px 0;
    width:60%;
}

.Info h1{
    color: #030066;
    font-size:18px;
    font-weight: 600;
}


.Info h2{
    font-size:15px;
    font-weight: 300;
}


.Info .Movie__Poster{
    max-width: 100%;
    position: relative;
    box-shadow: -5px 10px 19px rgba(83, 83, 83, 0.3), 5px 7px 6px rgba(80,80,80,0.22);
}