.header-color {
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin : 100px 100px;
}

.landing-grid {
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}


.main-img {
  height: 700px;
  padding-top: 2em;
}

.banner-text {
  background-color: rgb(57, 123, 143);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: aliceblue;
}

.banner-text hr {
  border-top:  5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: aliceblue;
  font-size: 20px;
  padding: 1em;
}

.page-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  color: white;
}

.page-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.equipment-grid {
  display: flex;
}

/* For drag and drop of profile image */
.title {
  font-size: 2rem;
  text-align: center !important;
  margin-top: 10%;
  color: #4aa1f3;
  font-weight: bold;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

.drop-message {
  text-align: center;
  color: #4aa1f3;
  font-family: Arial;
  font-size: 15px;
}

.field-name {
  text-align: left;
  align-items: flex-start;
  color: #4aa1f3;
  font-family: Arial;
  font-size: 20px;
}

.my-page-section {
  display: flex;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.row {
  display: inline-block;
  justify-content: center;
}